@-webkit-keyframes blink-anim {
    0% { opacity:1; }
    50% { opacity:0.1; }
    100% { opacity:1; }
}
@-moz-keyframes blink-anim {
    0% { opacity:1; }
    50% { opacity:0.1; }
    100% { opacity:1; }
}
.blink {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink-anim;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-direction: normal;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink-anim;
    -moz-animation-timing-function: ease-in-out;
}